{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}




<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Pre-Interview Challenge</h3>

          <ul class="nav masthead-nav">
            <li class="active">
              <a href="http://bootsnipp.com/iframe/g6GWQ" target=
              "_blank">Home</a>
            </li>

            <li>
              <a href="signin">LogIn</a>
            </li>

            <li>
              <a href="signup">Register</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">My BucketList App</h1>

          <p class="lead"><b>I think it came from the movie,</b> by scriptwriter Justin Zackham.
              <b>The most likely origin is it comes from the phrase "to kick the bucket", meaning to die.</b>

        </p>

        <p class="lead"><a class="btn btn-lg btn-info" href="#">Register</a></p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <!-- Validation -->

          <p>© 2017 Tracey</p>
        </div>
      </div>
    </div>
</div>
</div>

{% endblock %}