{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}


<head>
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


     <style>
         .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
                }
          .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
                }
                .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff; }
            .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
      }


     </style>

</head>
<body>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Pre-Interview Challenge</h3>

        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">My BucketList App</h1>

          <p class="lead"><b>I think it came from the movie,</b> by scriptwriter Justin Zackham.
              <b>The most likely origin is it comes from the phrase "to kick the bucket", meaning to die.</b>

        </p>

        <p class="lead"><a class="btn btn-lg btn-info" href="signup">Register</a></p>
      </div>
       </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h3>Bucket List</h3>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
               Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
               Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>

            <div class="col-lg-6">
                <h3>Bucket List</h3>
              <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
              Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
              Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>

    </div>
</div>

</body>
{% endblock %}